<h1>My To-Do List</h1>

<ol id="tasks">
  <% @tasks.each do |task| %>
    <li class="stuff">
      <% if task.completed %>
      <% else %>
      <% end %>
      <%= link_to task.title, task_path(task.id) %>

      <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ol>

<hr>

<%= link_to new_task_path do %>
  <i class="button"></i> Add a new task
<% end %>























