<div class="container">
  <div class="header">
    <h1><%= @task.title %></h1>
    <div class="alert alert-dark">
      <input class="fas fa-edit"></input><span><%= link_to "Edit this task", edit_task_path %></span>
    </div>
  </div>
  <div class="task-description">
    <p class="alert alert-secondary" role="alert"><%= @task.detail %></p>
    <% if @task.completed? %>
      <div><input class="far fa-check-square"></input><span>This task is complete</span></div>
    <% else %>
      <div><input class="far fa-square"></input><span>This task has not been completed yet</span></div>
    <% end %>
  </div>
  <div class="border-top">
    <div class="back-link">
      <input class="fas fa-redo"></input><span><%= link_to "Back to list", tasks_path %></span>
    </div>
  </div>
</div>
