// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
 font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #377BB5;
}
.btn.btn-primary {
  background-color: #377BB5;
}

.edit {
  display: flex;
  justify-content: space-between;
}

div .border-top {
  margin-top: 10px;
}

div span {
  margin-left: 5px;
}

h1 {
  margin: 10px 0;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header h1 {
  flex: 0 0 auto;
}

.header div {
  flex: 0 0 auto;
}

div.alert span a {
  text-decoration: none;
  color: #1B1E21;
}

.input {
  margin: 20px 0;
}

.back-link {
  margin: 20px 0;
}

.task-description {
  padding: 10px 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

.stuff {
  padding-bottom: 15px;
}
